<mat-grid-list cols = "5" rowHeight="1:3">
  <mat-grid-tile colspan = "1">
    <div  class = "container">
      <mat-form-field>
        <mat-label>Capteur</mat-label>
        <mat-select [(value)] = "id">
          <mat-option *ngFor="let id of ids" [value]="id">
            {{id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Capteur n°2</mat-label>
        <mat-select [(value)] = "id2">
          <mat-option *ngFor="let id of ids" [value]="id">
            {{id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Date début</mat-label>
        <input matInput [matDatepicker]="date_debut_picker" [(ngModel)]="date_debut">
        <mat-datepicker-toggle matSuffix [for]="date_debut_picker"></mat-datepicker-toggle>
        <mat-datepicker #date_debut_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date fin</mat-label>
        <input matInput [matDatepicker]="date_fin_picker" [(ngModel)]="date_fin">
        <mat-datepicker-toggle matSuffix [for]="date_fin_picker"></mat-datepicker-toggle>
        <mat-datepicker #date_fin_picker></mat-datepicker>
      </mat-form-field>
      <div class = "buttons">
        <button  class="btn btn-primary"
                (click)="update()">go!</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan = "4">
    <div class = "container">
      <app-view-graph [title]="id" [data] = "data"></app-view-graph>
    </div>
  </mat-grid-tile>
</mat-grid-list>
